.block-container{

    position: fixed;
    top: 11.5%;
    right: 0;
    width: 88%;
    height: 80vh;
    padding: 1.5rem 0;

    background-color: aliceblue;
    color: #666464;

    overflow-y: auto;
}